<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.czcxy.xj.basicclient.role.mapper.EidpRoleMapper">
    <resultMap id="BaseResultMap" type="cn.czcxy.xj.basicclient.role.entity.EidpRole">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="remaker" property="remaker" jdbcType="VARCHAR"/>
        <result column="server_flag" property="serverFlag" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectRole" resultMap="BaseResultMap">
    select * from eidp_role r
 where not EXISTS(select 1 from eidp_organization_role e where r.id=e.role_id and e.organization_id=#{organizationId})

  </select>

    <select id="selectOrganizationRole" resultMap="BaseResultMap">
    select * from eidp_role r
 where  EXISTS(select 1 from eidp_organization_role e where r.id=e.role_id and e.organization_id=#{organizationId})

  </select>
</mapper>